{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="example-wrapper ml-5 m-3 w-25">
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword, {'attr': {'class': 'form-control w-25'}}) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
